<h1>CV</h1>





<h2>A Current Look at your Activity!</h2>

<div class="container-fluid">
  <div class="row">
    {{!-- //pull in commit information// --}}

    <p id="commits">Your most recent Commits</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      {{!-- //pull in repos information// --}}

      <p id="repos">Your most recent Repos</p>
    </div>

    <div class="container-fluid">
      <div class="row">
        {{!-- //list of learned languages// --}}

        <p id="lang">Your learned languages</p>
      </div>