<section class="container">
        <div class="container">
          <div class="row mt-5">
            <h1 class="mx-auto text-center">Welcome to GitJobs, {{user.name.givenName}}!</h1>
          </div>
            <div class="row row-cols-1 row-cols-md-4">
                <div class="col mx-auto my-3" data-aos="flip-left" data-aos-duration="1000">
                    <div class="card user">
                        <div class="user-img">
                            <img src="{{photo}}" alt="Rahul" />
                        </div>
                    <div class="user-data">
                        <h2 class="mb-2">{{user.displayName}}</h2>
                        <div class="user-designation">{{email}}</div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        </section>