<!DOCTYPE html>
<html>

<head>
    <title>Linkedin Node Authentication</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

    <link rel="stylesheet" href="css/{{style}}">

</head>
<style>

</style>

<body>
    <div class="login">
        <h1>Welcome to GitJobs!</h1>
        <div class="card-action mx-auto text-center">
            <a
                href="/auth/linkedin"
                class="waves-effect waves-light btn social linkedin"
            >
                <i class="fa fa-linkedin"></i> Sign in with Linkedin
            </a>
        </div>
        <h4>Using GitJobs, you can track your professional contacts and job applications in one central place. Take control of your career today!</h4>
    </div>
    </form>
    </div>
    </div>
{{!-- </body>

</html> --}}
