
    <div class="login" data-aos="fade-up" data-aos-duration="2000">
        <h1>Welcome to GitJobs!</h1>
        <div class="card-action mx-auto text-center">
            <a
                href="/auth/linkedin"
                class="waves-effect waves-light btn social linkedin"
            ><button class="btn btn-submit py-3 px-5 mx-auto"><i class="fa fa-linkedin"></i> Sign in with Linkedin</button>
                
            </a>
        </div>
        <h4>Using GitJobs, you can track your professional contacts and job applications in one central place. Take control of your career today!</h4>
    </div>
