<!DOCTYPE html>
<html>

<head>
    <title>Linkedin Node Authentication</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

    <link rel="stylesheet" href="css/{{style}}">

</head>
<style>

</style>

<body>
    <div class="login">
        <h1>Login</h1>
        <div class="form" <form method="post">
            <input type="text" name="u" placeholder="Username" required="required" />
            <input type="password" name="p" placeholder="Password" required="required" />


            <button type="submit" id="log" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    </form>
    </div>
    </div>
</body>

</html>